<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.uisampler" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DateActivity"
            android:label="@string/app_name" >
        <!-- android:label="@string/title_activity_date" -->
        </activity>

        <activity
            android:name=".KeyboardActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:label="@string/app_name" >
            <!-- android:label="@string/title_activity_keyboard" -->
        </activity>

        <activity
            android:name=".ListActivity"
            android:label="@string/app_name" >
            <!-- android:label="Choose Dessert" -->
        </activity>
    </application>

</manifest>
